.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.Contact h1 {
  font-size: 80px;
}

.Contact p {
  font-size: 40px;
}

.Contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-info img {
  width: 3rem;
  height: 3rem;
  margin: 1.5rem 1rem 0 0;
}

.Contact-info img:hover {
  background-color: rgb(247, 215, 215, 0.7);
  border-radius: 10px;
}

.Contact-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-social img {
  width: 35px;
}
