.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.Contact h1 {
  font-size: 50px;
  margin-bottom: 5rem;
}

.Contact p {
  font-size: 20px;
  margin-bottom: 3rem;
}

.Contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-email {
  position: relative;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-icon {
  z-index: 100;
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.email-highlight {
  z-index: 0;
  position: absolute;
  left: -2.5rem;
  top: -2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 8rem;
}

.Contact-email:hover .email-highlight {
  opacity: 1;
}

.Contact-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-social img {
  width: 35px;
}

@media screen and (max-width: 950px) {
  .Contact h1 {
    font-size: 40px;
  }
  .Contact p {
    font-size: 20px;
  }
  .email-highlight {
    width: 7.5rem;
  }
  .email-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .Contact p {
    font-size: 17px;
  }
}
