.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.Contact h1 {
  font-size: 80px;
}

.Contact p {
  font-size: 40px;
}

.Contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-email {
  position: relative;
  float: left;
}

.email-icon {
  width: 3rem;
  height: 3rem;
  margin: 1.5rem 1rem 0 0;
  padding: 0.5rem;
  z-index: 100;
  position: relative;
  float: right;
}

.email-highlight {
  width: 7rem;
  z-index: 0;
  position: absolute;
  left: -1.6rem;
  top: 0.1rem;
  display: none;
}

.Contact-email:hover .email-highlight {
  display: block;
}
.Contact-info img:hover {
  /* background-color: rgb(247, 215, 215, 0.7);
  border-radius: 30px; */
}

.Contact-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-social img {
  width: 35px;
}

@media screen and (max-width: 1000px) {
  .Contact h1 {
    font-size: 60px;
  }
  .Contact p {
    font-size: 35px;
  }
}
