.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  margin: 0 3rem 0 3rem;
}

.Home h1 {
  margin: 5rem 0 0 0;

  font-size: 100px;
}

.Home h2 {
  margin: 0 0 5rem 0;
  font-size: 50px;
}
.Home h3 {
  margin: 0 0 3rem 0;
  font-size: 50px;
}
.Home p {
  color: white;
  cursor: pointer;
  background: none;
  border: solid;
  border-width: 3px;
  font-size: 40px;
  margin: 1.3rem 0 0 0;
  padding: 0 22px 18px 22px;
}

.Home p:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1000px) {
  .Home h1 {
    font-size: 80px;
  }

  .Home h2 {
    font-size: 40px;
    margin: 0 0 3rem 0;
  }
  .Home h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 430px) {
  .Home h1 {
    font-size: 55px;
    line-height: 60px;
  }

  .Home h2 {
    font-size: 35px;
    margin: 0 0 3rem 0;
  }
  .Home h3 {
    font-size: 35px;
    margin-top: 1rem;
  }
  .Home p {
    color: white;
    cursor: pointer;
    background: none;
    border: solid;
    border-width: 3px;
    font-size: 30px;
    margin: 1.3rem 0 0 0;
    padding: 0 22px 18px 22px;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.loading {
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
