a {
  text-decoration: none;
}

.Navbar {
  display: flex;
  align-items: center;

  padding: 1.5% 4.5%;
  font-size: 45px;
  min-height: 10vh;
  /* outline text
  -webkit-text-stroke: 1.2px black; 
  or this support all browser
  color: #fff;
   text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000; */
  /* color: #fff;
  text-shadow: 1.2px 1.2px 0 #000, -1.2px 1.2px 0 #000, -1.2px -1.2px 0 #000,
    1.2px -1.2px 0 #000; */
  /* color: #fff;
  text-shadow: 1.2px 1.2px 2px #000, -1.2px 1.2px 2px #000, -1.2px -1.2px 0 #000,
    1.2px -1.2px 0 #000; */
}

.Navbar-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-social img {
  width: 35px;
  margin-left: 27px;
}

.Navbar-link {
  position: relative;
  float: left;
}

.Navbar-link img {
  z-index: 0;
  position: absolute;
  left: -1.6rem;
  top: 0.1rem;
  display: none;

  /* left: 0;
  top: 0; */
}
.Navbar-link p {
  z-index: 100;
  position: relative;
  float: right;
}
.Navbar-link:hover img {
  display: block;
}

.Navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navbar-logo {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.Navbar-logo1 {
  width: 5rem;
  margin-right: 1.2rem;
}
.Navbar-logo2 {
  width: 13rem;
}
.Navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.Navbar-menu {
  color: var(--color-black);
}
.Navbar-menu_icon {
  cursor: pointer;
}

.Navbar-links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-menu_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1000;

  text-align: end;
  background: var(--color-black);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
}

.Navbar-logo p,
.Navbar-social p {
  color: white;
  margin: 0 1.5rem 0.3rem;
  cursor: pointer;
  text-decoration: none;
}

/* .Navbar-links_container p:hover,
.Navbar-social p:hover {
  background-color: rgb(247, 215, 215, 0.7);
  border-radius: 30px;
} */

.Navbar-links_container_ftc {
  font-size: medium;
}

@media screen and (max-width: 1050px) {
  .Navbar-links_container {
    display: none;
  }
  .Navbar-social {
    display: none;
  }
  .Navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 1130px) {
  .Navbar-social img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .Navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .Navbar {
    padding: 2rem;
  }

  .Navbar-menu_container {
    top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .Navbar-logo1 {
    width: 2.5rem;
  }
  .Navbar-logo2 {
    width: 7rem;
  }
}
