.StickmanLife {
  margin: 0.9rem 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StickmanLife h1 {
  font-size: 50px;
  line-height: 3rem;
  margin-bottom: 0;
}
.StickmanLife h3 {
  font-size: 20px;
  line-height: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.StickmanLife h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 550;
}

.StickmanLife-desc {
  font-size: 20px;
  max-width: 60vw;
  /* position: relative;
  float: left; */
  background-color: var(--color-purple);
  padding: 1.5rem;
  /* border-radius: 20px; */
}

.StickmanLife-desc p {
  text-align: center;
  /* z-index: 100; */
  margin: 0;
  /* margin: 1rem 0 0 0; */
  /* position: relative;
  float: left; */
}

/* .StickmanLife-desc img {
  max-width: 70vw;
  position: absolute;
  left: -2.6rem;
  top: -3rem;
  z-index: 0;
} */
.StickmanLife-button {
  color: white;
  cursor: pointer;
  background: none;
  border: solid;
  border-width: 2px;
  font-size: 17px;
  padding: 0.8rem 1rem;
}

.StickmanLife-button:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.StickmanLife iframe {
  border: none;
  margin: 0 0 3rem 0;
  width: 800px;
  height: 450px;
}

@media screen and (max-width: 950px) {
  .StickmanLife h1 {
    font-size: 40px;
  }
  .StickmanLife h2 {
    font-size: 20px;
  }
  .StickmanLife h3 {
    font-size: 17px;
  }
  .StickmanLife-desc {
    font-size: 17px;
  }

  .StickmanLife iframe {
    width: 70vw;
    height: 39.32vw;
  }
}

@media screen and (max-width: 550px) {
  .StickmanLife-desc {
    font-size: 12px;
    padding: 1rem;
    max-width: 65vw;
  }
  .StickmanLife {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .StickmanLife-button {
    font-size: 15px;
  }
}
