.StickmanLife {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StickmanLife h1 {
  font-size: 80px;
  line-height: 3rem;
  margin-bottom: 0;
}
.StickmanLife h3 {
  font-size: 40px;
  line-height: 1rem;
  margin-bottom: 3rem;
}

.StickmanLife h2 {
  font-size: 50px;
  margin-bottom: 0;
}

.StickmanLife-desc {
  font-size: 40px;
  max-width: 60vw;
  /* position: relative;
  float: left; */
  background-color: rgb(160, 193, 235);
  padding: 2rem 3rem 3rem 3rem;
  /* border-radius: 20px; */
}

.StickmanLife-desc p {
  text-align: center;
  /* z-index: 100; */
  margin: 0;
  /* margin: 1rem 0 0 0; */
  /* position: relative;
  float: left; */
}

/* .StickmanLife-desc img {
  max-width: 70vw;
  position: absolute;
  left: -2.6rem;
  top: -3rem;
  z-index: 0;
} */

.StickmanLife-button {
  color: white;
  cursor: pointer;
  background: none;
  border: solid;
  border-width: 3px;
  font-size: 40px;
  margin: 1.3rem 0 0 0;
  padding: 0 22px 18px 22px;
}

.StickmanLife-button:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
  background-color: rgba(255, 255, 255, 0.1);
}

.StickmanLife iframe {
  border: none;
  margin: 0 0 3rem 0;
  width: 890px;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .StickmanLife-desc {
    font-size: 30px;

    padding: 1rem 2rem 2rem 2rem;
  }

  .StickmanLife iframe {
    width: 550px;
    height: 300px;
  }
  .StickmanLife h1 {
    font-size: 60px;
  }
  .StickmanLife h2 {
    font-size: 35px;
  }
  .StickmanLife h3 {
    font-size: 35px;
  }
  .StickmanLife-button {
    border-width: 3px;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .StickmanLife iframe {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .StickmanLife iframe {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 440px) {
  .StickmanLife-desc {
    font-size: 20px;
  }
  .StickmanLife iframe {
    width: 270px;
    height: 150px;
  }
}
