.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.About h1 {
  font-size: 50px;
  margin-bottom: 5rem;
}

.About p {
  font-size: 20px;
  max-width: 50vw;
}

.About-image {
  height: 35rem;
  margin: 0 10rem 0 0;
  /* border-radius: 10px; */
  border-width: 5px;
  border-color: var(--color-pink);
  border-style: solid;
  /* box-shadow: 0 0 10px 0 rgb(160, 193, 235); */
}

.About-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.arrow {
  position: absolute;
  left: 11.5rem;
  top: -13rem;
  width: 6rem;
  height: 14rem;
}

.About-caption {
  position: relative;
}

.About-desc {
  font-size: 40px;
  max-width: 30vw;

  background-color: var(--color-purple);
  padding: 2rem 3rem 3rem 3rem;

  /* box-shadow: 0 0 10px 0 rgb(160, 193, 235); */
}

@media screen and (max-width: 1600px) {
  .About-image {
    height: 35rem;
  }
}
@media screen and (max-width: 1300px) {
  .About-desc {
    max-width: 40vw;
  }

  .About-image {
    height: 25rem;
    margin: 0 4rem 0 0;
  }
  .arrow {
    left: 9rem;
    top: -10rem;
    height: 11rem;
    width: 7rem;
  }
}

@media screen and (max-width: 950px) {
  .About-container {
    flex-direction: column;
    align-items: center;
  }
  .About h1 {
    font-size: 40px;
  }
  .About-desc {
    font-size: 20px;
    max-width: 60vw;
  }

  .About-image {
    width: 25rem;
    height: auto;
    margin: 0;
  }
  .arrow {
    left: 10rem;
    top: -12rem;
    height: 14rem;
    width: 6rem;
  }

  .About-caption {
    margin: 0 0 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .About-desc {
    max-width: 70vw;

    padding: 1rem 2rem 2rem 2rem;
  }
  .About p {
    font-size: 15px;
  }
  .About-image {
    width: 60vw;
    height: auto;
    margin: 0;
  }
  .arrow {
    display: none;
  }

  .About-caption {
    margin: 0 0 0 1rem;
  }
}
@media screen and (max-width: 440px) {
  .About-desc {
    padding: 0.5rem 2rem 0.5rem 2rem;
    max-width: 90vw;
    margin: 0 0 0 0;
  }
  .About-container {
    margin: 0 0 0 0;
  }
  .About {
    margin: 0 0 0 0;
  }

  .About-caption {
    margin: 0 0 0 1rem;
  }

  .About-desc p {
    font-size: 12px;
  }
}
