.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.About h1 {
  font-size: 80px;
  margin-bottom: 5rem;
}

.About p {
  font-size: 40px;
  max-width: 50vw;
}

.About-image {
  height: 35rem;
  margin: 0 10rem 0 0;
  border-radius: 10px;
}

.About-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.arrow {
  position: absolute;
  left: 12rem;
  top: -14em;
  width: 8rem;
  height: 17rem;
}

.About-caption {
  position: relative;
}

.About-desc {
  font-size: 40px;
  max-width: 60vw;

  background-color: rgb(160, 193, 235);
  padding: 2rem 3rem 3rem 3rem;
}

@media screen and (max-width: 1600px) {
  .About-image {
    height: 35rem;
    margin: 0 5rem 0 0;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .About-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About-desc {
    text-align: center;
  }
  .About p {
    max-width: 70vw;
  }

  .About-image {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .About h1 {
    font-size: 60px;
  }
  .About p {
    font-size: 30px;
  }

  .About-image {
    width: 20rem;
    height: auto;
    margin: 0 0 0 0;
  }

  .arrow {
    left: 9rem;
    top: -11rem;
    width: 6rem;
    height: 14rem;
  }
  /* .About-caption {
    margin: 0 0 0 3rem;
  } */
}

@media screen and (max-width: 440px) {
  .About-desc {
    padding: 1rem 2rem 2rem 2rem;
  }
  .About-image {
    width: 16rem;
    height: auto;
    margin: 0 0 0 0;
  }

  .About-caption {
    margin: 0 0 0 1rem;
  }

  .arrow {
    left: 7.5rem;
    top: -11rem;
    width: 5.5rem;
    height: 13rem;
  }

  .About-container p {
    font-size: 25px;
  }

  .About-desc p {
    font-size: 20px;
  }
}
