.PlanPro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlanPro h1 {
  font-size: 50px;
  line-height: 3rem;
  margin-bottom: 0;
}

.PlanPro h3 {
  font-size: 20px;
  line-height: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.PlanPro h2 {
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 0;
}

.PlanPro-desc {
  font-size: 20px;
  max-width: 60vw;

  background-color: rgb(160, 193, 235);
  padding: 1.5rem;
}

.PlanPro-desc p {
  margin: 0;
}

.PlanPro iframe {
  border: none;
  margin: 0 0 3rem 0;
}

@media screen and (max-width: 1000px) {
  .PlanPro-desc {
    font-size: 30px;

    padding: 1rem 2rem 2rem 2rem;
  }

  .PlanPro iframe {
    width: 550px;
    height: 300px;
  }
  .PlanPro h1 {
    font-size: 60px;
  }
  .PlanPro h2 {
    font-size: 35px;
  }
  .PlanPro h3 {
    font-size: 35px;
  }
  .PlanPro-button {
    border-width: 3px;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .PlanPro iframe {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .PlanPro iframe {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 440px) {
  .PlanPro-desc {
    font-size: 20px;
  }
  .PlanPro iframe {
    width: 270px;
    height: 150px;
  }
}

.PlanPro-button {
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border: solid;
  border-width: 2px;
  background: none;
  font-size: 17px;
  padding: 0.8rem 1rem;
}

.PlanPro-button:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}
