.SmartScan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 3rem 0 3rem;
}

.SmartScan h1 {
  font-size: 50px;
  line-height: 3rem;
  margin-bottom: 0;
}
.SmartScan h3 {
  font-size: 20px;
  line-height: 1rem;
  margin-bottom: 2rem;
}

.SmartScan-button {
  color: white;
  cursor: pointer;
  background: none;
  border: solid;
  border-width: 2px;
  font-size: 17px;
  padding: 0.8rem 1rem;
}

.SmartScan-button:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.SmartScan-imgs {
  display: flex;
  flex-direction: column;
}

.SmartScan-imgs img {
  margin: 3rem 0 3rem 0;
  width: 70rem;
}

.SmartScan-desc {
  font-size: 40px;
  max-width: 60vw;

  background-color: rgb(160, 193, 235);
  padding: 2rem 3rem 3rem 3rem;
}

.SmartScan-desc p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 1250px) {
  .SmartScan-imgs img {
    width: 75vw;
  }
}
@media screen and (max-width: 1000px) {
  .SmartScan-desc {
    font-size: 30px;
    padding: 1rem 2rem 2rem 2rem;
  }
  .SmartScan-imgs img {
    margin: 2rem 0 2rem 0;
  }

  .SmartScan h1 {
    font-size: 60px;
  }

  .SmartScan h3 {
    font-size: 35px;
  }
  .SmartScan-button {
    border-width: 3px;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .SmartScan-imgs img {
    margin: 1rem 0 1rem 0;
  }
  .SmartScan h3 {
    line-height: 40px;
  }
}

@media screen and (max-width: 440px) {
  .SmartScan-imgs img {
    margin: 0 0 1rem 0;
  }
  .SmartScan-desc {
    font-size: 20px;
  }
}
