@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-purple);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family: "BrownBagLunch";
  --color-pink: rgb(247, 215, 215);
  --color-purple: rgb(85, 104, 159);
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "BrownBagLunch";

  src: url("/BrownBagLunch.woff2") format("woff2"),
    url("/BrownBagLunch.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
