.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.Projects h1,
.Projects h2 {
  font-size: 80px;
}

.Projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Projects-container img {
  border-radius: 20px;
}

.imageBox {
  position: relative;
  float: left;
  margin: 5rem;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}

.imageBox .hoverImg div {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  left: 0;
  align-items: center;
  text-align: center;
  top: 0;
  margin: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.335);

  border-radius: 20px;
}

.imageBox .hoverImg div h2 {
  font-size: 70px;
  margin: 5rem 0 0 0;
  line-height: normal;
  color: white;
}

.imageBox .hoverImg div p {
  font-size: 50px;
  margin: 0 0 0 0;
  color: white;
}

.Projects-stickman-life {
  width: 40rem;
  height: 30.923rem;
}

.Projects-robotics {
  width: 40rem;
  height: 25.763rem;
}

.Projects-smart-scan {
  width: 40rem;
  height: 30.344rem;
}

.Projects-massage {
  width: 40rem;
  height: 25.174rem;
}

.Projects-plan-pro {
  width: 30rem;
  height: 29.468rem;
}

@media screen and (max-width: 1000px) {
  .Projects-stickman-life {
    width: 25rem;
    height: 19.327rem;
  }

  .Projects-robotics {
    width: 25rem;
    height: 16.102rem;
  }

  .Projects-smart-scan {
    width: 25rem;
    height: 18.965rem;
  }

  .Projects-massage {
    width: 25rem;
    height: 15.734rem;
  }
  .Projects-plan-pro {
    width: 25rem;
    height: 24.56rem;
  }

  .imageBox {
    margin: 1rem;
  }

  .Projects h1,
  .Projects h2 {
    font-size: 60px;
  }

  .imageBox .hoverImg div h2 {
    font-size: 50px;
    margin: 3rem 0 0 0;
  }

  .imageBox .hoverImg div p {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .imageBox .hoverImg {
    display: none;
  }

  .imageBox:hover .hoverImg {
    display: none;
  }

  .imageBox .hoverImg div {
    display: none;
  }

  .imageBox .hoverImg div h2 {
    display: none;
  }

  .imageBox .hoverImg div p {
    display: none;
  }
  .Projects-stickman-life {
    width: 16rem;
    height: 12.3692rem;
  }

  .Projects-robotics {
    width: 16rem;
    height: 10.3052rem;
  }

  .Projects-smart-scan {
    width: 16rem;
    height: 12.1376rem;
  }

  .Projects-massage {
    width: 16rem;
    height: 10.0696rem;
  }
  .Projects-plan-pro {
    width: 16rem;
    height: 15.716rem;
  }
  .Projects-end {
    font-size: 100px;
  }
  /* .imageBox .hoverImg div h2 {
    font-size: 50px;
    margin: 3rem 0 0 0;
  }

  .imageBox .hoverImg div p {
    font-size: 30px;
  } */
  .Projects h2 {
    font-size: 29px;
  }
}
